// BUTTONS
@mixin buttonVariantOutline($color, $isDark) {
    // Light variant
    background-color: $light-background-color;
    color: color($color);
    border-color: color($color);

    &:hover {
        background-color: color($color);
        color: $light-background-color;
        &.button-static {
            background-color: $light-background-color;
            color: color($color);
        }
    }

    // Dark variant
    @if $isDark {
        background-color: $dark-background-color;
        color: dark($color);
        border-color: dark($color);

        &:hover {
            background-color: dark($color);

            @if lightness(color($color))>65% {
                color: $dark-background-color;
            } @else {
                color: $light-background-color;
            }

            &.button-static {
                background-color: $dark-background-color;
                color: dark($color);
            }
        }
    }
}

@mixin buttonVariantFilled($color, $isDark) {
    // Light variant
    background-color: color($color);
    color: $light-background-color;
    border-color: color($color);

    &:hover {
        background-color: $light-background-color;
        color: color($color);
        &.button-static {
            background-color: color($color);
            color: $light-background-color;
        }
    }

    // Dark variant
    @if $isDark {
        background-color: dark($color);

        @if lightness(color($color))>65% {
            color: $dark-background-color;
        } @else {
            color: $light-background-color;
        }

        border-color: dark($color);

        &:hover {
            background-color: $dark-background-color;
            color: dark($color);
            &.button-static {
                background-color: dark($color);
                @if lightness(color($color))>65% {
                    color: $dark-background-color;
                } @else {
                    color: $light-background-color;
                }
            }
        }
    }
}

.button {
    box-shadow: none;
    height: $button-height;
    font-size: $button-height*(3/10);
    border-radius: $button-radius;
    outline: none;
    border: 1px $default-button-color solid;
    color: $default-button-color;
    transition: $button-animation-speed;
    background-color: $light-background-color;

    &:hover {
        cursor: pointer;
        background-color: $default-button-color;
        color: $light-background-color;
        &.button-static {
            background-color: $light-background-color;
            color: $default-button-color;
        }
    }

    &.dark {
        @include buttonVariantOutline("gray", true)
    }

    &.button-large {
        width: 100%;
        font-size: $button-height * 0.5;
        font-weight: 100;
    }

    &.button-rounded-none {
        border-radius: 0;
    }

    &.button-rounded-left {
        border-radius: $button-radius 0 0 $button-radius;
    }

    &.button-rounded-right {
        border-radius: 0 $button-radius $button-radius 0;
    }
}

@each $color, $value in $colors {

    // Buttons
    .button-#{$color} {
        @include buttonVariantOutline($color, false);
    }

    .dark .button-#{$color} {
        @include buttonVariantOutline($color, true);
    }
 
    .button-filled-#{$color} {
        @include buttonVariantFilled($color, false);
    }

    .dark .button-filled-#{$color} {
        @include buttonVariantFilled($color, true);
    }
}

// BUTTON GROUPS
.button-group {
    padding: 8px;
    .button {
        // Round none
        border-radius: 0;
    }
    .button:first-of-type {
        // Round left
        border-radius: $button-radius 0 0 $button-radius;
    }
    .button:last-of-type {
        // Round right
        border-radius: 0 $button-radius $button-radius 0;
    }
}



// LABELS
.label {
    font-family: $label-font;
}