@import "variables";
@import "animations";
@import "components";
@import "board";
@import "settings";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    font-family: monospace;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    &.dark {
        background-color: $dark-background-color;
        color: $dark-mode-font-color;
    }
}

.dark {
    background-color: $dark-background-color;
    color: $dark-mode-font-color;
}

hr.divider {
    border-top: 2px solid black;
    width: 80vw;
    animation: 2s cubic-bezier(.3,.4,.05,.9) 0s 1 expandFromMiddle;
}

#dark-mode-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

// Page title font
#page-title,
#winner {
    font-family: $header-font;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
} 

// For now, just the fake cursor
.blinking {
    animation: blinking 1s infinite;
}